.container {
  display: flex;
  gap: 30px;
  width: 100%;
}

%balloon {
  display: flex;
  justify-content: center;
  gap: 5px;
  background-color: var(--color-white);
  padding: 8px 15px;
  border-radius: 20px;
  text-align: center;
  font-size: 14px;
}

.level {
  @extend %balloon;
  flex: 1;
  display: flex;
  gap: 10px;
  align-items: center;
}

.nickname {
  @extend %balloon;
  flex: 3;
}
