.main {
  display: flex;
  flex-direction: column;
  padding: 0px 40px 40px 40px;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 20px;
}

.welcome {
  position: relative;
  top: 40px;
  font-size: 40px;
  font-weight: 500;
  animation-name: floatIn;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: both;
}

.arrival {
  aspect-ratio: 8 / 3;
  align-self: flex-end;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 10px;
  overflow-x: hidden;
}

.buttons {
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
}

.button {
  min-width: 100px;
  height: 60px;
}

.contents {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr 1.5fr;
  column-gap: 50px;
  row-gap: 70px;
}

.notice {
  align-self: flex-end;
  aspect-ratio: 2.4 / 1;
}

.ranking {
  align-self: flex-start;
  // aspect-ratio: 3 / 1;
}

.skeleton {
  width: 100%;
  border-radius: 20px;
}

.arrival-skeleton {
  width: 150px;
  border-radius: 20px;
}

.more_icon_wrapper {
  width: 100%;
  padding-left: 31%;
}

.more_icon {
  width: 25px;
  height: 25px;
  align-self: flex-start;
}

@keyframes floatIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
