.roomForm__container {
  width: 65vw;
  min-width: 500px;
  border-radius: 20px;
  display: flex;
  height: 600px;
  flex-direction: column;
  background-color: var(--color-grey);
}

::-webkit-scrollbar {
  display: none;
  /* 크롬, 사파리, 오페라, 엣지 */
}

.roomForm_component__list {
  height: 600px;
  margin: 15px 0 15px 0;
  overflow-y: auto;
}

.roomForm_component__element {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.roomForm_component__title {
  border-radius: 20px;
  display: flex;
  background-color: var(--color-white);
  height: 50px;
  padding: 20px;
  margin: 10px 0 10px 0;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  text-align: center;
  align-items: center;
  cursor: grab;
  position: relative;
}

.roomForm_component__soloOrnot{
  border-radius: 20px;
  display: flex;
  background-color: var(--color-white);
  height: 50px;
  padding: 20px;
  margin: 10px 0 10px 0;
  justify-content: center;
  width: 20%;
  text-align: center;
  align-items: center;
  cursor: grab;
}

.lock_icon{
  height: 20px;
  position: absolute;
  right: 20px;
}

.roomForm_component__member {
  border-radius: 20px;
  display: flex;
  background-color: var(--color-white);
  height: 50px;
  padding: 20px;
  margin: 10px 0 10px 0;
  justify-content: center;
  width: 15%;
  text-align: center;
  align-items: center;
  cursor: grab;
}