

.play_container{
  border-top: 1px solid var(--color-darkgrey);
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 85vh;
  
}

.codeEditor_container{
  position : relative;
  width: 60vw;
  height: 50vh;
}

.problem_container {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 85vh;
  background-color: var(--color-grey);
  border: none;
  border-right: 1px solid var(--color-darkgrey);
}

.problem_title {
  background-color: var(--color-pink);
  height: 8vh;
  width: 100%;

  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}


.problem_description {
  padding: 20px;
  background-color: var(--color-grey);
  height: 42vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  
}

.testcase_title_container {
  height: 5vh;
  width: 100%;
  padding: 20px;
  background-color: var(--color-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.problem_testcase {
  background-color: var(--color-grey);
  height: 35vh;
  width: 100%;
  border-top: 1px solid var(--color-darkgrey);

  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.description {
  text-align: left;
}

.testcase {
  text-align: left;
  padding: 10px 20px 10px 20px;
  height: 35vh;
}

.table_header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--color-black);
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.testcase_row {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--color-darkgrey);
}

.testcase_table {
  
  margin-bottom: 10px;
}

.limit_factor_list {
  margin-top: 10px;
  list-style: disc;
}


.cell {
  word-wrap: break-word;
  width: 50%;
}