.Play_header{
  width: 100%;
  height: 15vh;
  background-color: var(--color-background);
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 15vh;
}

.out_btn {
  margin-right: 30px;
  margin-left: 10px;
}

.progress_bar {
  
}