.progress_container {
  margin-top: 3vh;
  width: 60vw;
  position: relative;
}

.progress_bar__container {
  width: 60vw; 
  height: 15px;
  border-radius: 20px;
  background-color: var(--color-grey);
  overflow: hidden; 
  position: relative;
}

.progressed_bar {
  background-color: var(--color-brown);
  width: 100%;
  height: 100%;
  border-radius: inherit; 
}

.running_icon {
  width: 30px;
  position: absolute;
  top: -20px;
  margin-left: 10px;
  transform: translate(-50%, -50%) scaleX(-1); 
  z-index: 2;
}

.time_display_container {
  width: 60vw; 
  position: relative;
  display: flex;
  justify-content: space-between; 
  margin-top: 5px; 
  font-size: 12px; 
}

.elapsed_time {
  width: 100%;
  text-align: left;
  margin-left: 3px;
  cursor: pointer;
}

.remaining_time {
  width: 100%;
  text-align: right;
  margin-right: 5px;
  cursor: pointer;
}