@font-face {
  font-family: "TmoneyRound-Regular";
  src: url("../../public/fonts/TmoneyRoundWindRegular.ttf");
}

@font-face {
  font-family: "TmoneyRound-ExtraBold";
  src: url("../../public/fonts/TmoneyRoundWindExtraBold.ttf");
}
