:root {
  --color-background: #fef9f2;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-brown: #73564b;
  --color-pink: #f9dbd7;
  --color-lightpink: #fef1f1;
  --color-grey: #ebebeb;
  --color-yellow: #f7e1ab;
  --color-skyblue: #a6dfff;
}
