.container {
  display: flex;
  gap: 30px;
  width: 100%;
  flex: 3 1;
}

%balloon {
  display: flex;
  justify-content: center;
  gap: 5px;
  background-color: var(--color-white);
  padding: 10px 15px;
  border-radius: 20px;
  text-align: center;
  font-size: 14px;
}

.title {
  @extend %balloon;
  flex: 3;
}

.rank {
  @extend %balloon;
  flex: 1;
}
