.create_contaier {
  width: 65vw;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roomname_section {
  width: 65vw;
  height: 15%;
  background-color: var(--color-grey);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.roomname {
  background-color: var(--color-white);
  height: 50px;
  border: none;
  border-radius: 10px;
  width: 40vw;
  padding: 10px;
}

.choose_problem_section {
  width: 65vw;
  margin: 20px 0 10px 0;
  background-color: var(--color-grey);
  border-radius: 20px;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list_section {
  width: 55vw;
  height: auto;
  border-radius: 10px;
  background-color: var(--color-white);
  overflow: hidden;
  margin-top: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.selected_problem {
  width: 55vw;
  height: 40px;
  background-color: var(--color-yellow);
  border-radius: 10px;
  margin-bottom: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.toggle_problem {
  width: 55vw;
  height: 90%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 5px;
  text-align: center;
  justify-content: center;
}

.problem_item {
  width: 55vw;
  height: 20px;
  background-color: var(--color-white);
}

.problem_item:hover {
  background-color: var(--color-grey);
}

.limit_section {
  width: 65vw;
  margin: 10px 0 10px 0;
  background-color: var(--color-grey);
  border-radius: 20px;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.limit_btn {
  background-color: var(--color-white);
  border-radius: 10px;
  width: 15%;
  height: 70%;
  margin: 10px;
}

.selected {
  background-color: var(--color-yellow);
  border-radius: 10px;
  width: 15%;
  height: 70%;
  margin: 10px;
}

.secret_create_section {
  margin: 10px 0 10px 0;
  height: 30%;
  width: 65vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.secret_section {
  height: 100%;
  width: 40vw;
  background-color: var(--color-grey);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.secret_checkbox {
  height: 35%;
  width: 25vw;
  background-color: var(--color-white);
  margin: 10px;
  padding: 10px;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.checkbox {
  margin-left: 10px;
}

.password {
  height: 30%;
  width: 25vw;
  background-color: var(--color-white);
  margin: 10px;
  padding: 10px;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.create_btn {
  height: 100%;
  width: 23vw;
  background-color: var(--color-yellow);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
