.btn_container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options_container {
  border: transparent;
  border-radius: 10px;
}

.toggle_button {
  height: 30px;
  width: 110px;
  background-color: var(--color-brown);
  border: transparent;
  border-radius: 30px;
  text-align: center;
  color: var(--color-white);
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}

.options_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.option {
  height: 35px;
  width: 90px;
  background-color: var(--color-lightpink);
  border: transparent;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  font-size: 15px;
  justify-content: center;
  align-items: center;
}