.container {
  width: 100%;
  display: flex;
  gap: 5px;
  padding: 2px 0;
  border-bottom: 1px solid var(--color-grey);
}

.my_container {
  width: 100%;
  display: flex;
  gap: 1px;
  color: rgb(207, 52, 124);
}

.nickname {
}

.me {
}

.message {
  word-break: break-all;
}

.my_message {
  color: rgb(164, 56, 56);
}
