.login_page__body {
  width: 100%;
  height: 100dvh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.login_page__login_container{
  width: inherit;
  height: 80dvh;
  
  display: flex;

  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.login_page__logo{
  width: 500px;
  height: 300px;
  object-fit: cover;
}
.login_page__form{
  width: 60%;
  height: 250px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}
.login_page__input{
  width: 50%;
  height: 50px;

  border: none;
  background-color: var(--color-grey);
  border-radius: 13px;
  padding-left: 15px
}
.login_page__button_container{
  width: 50%;
  height: 20%;  

  display: flex;
  justify-content: space-between;
}
.login_page__submit_button{
  width: 48%;
  border: none;
  border-radius: 13px;
  background-color: var(--color-yellow);

  cursor: pointer;
}
.login_page__submit_button:active{
  background-color: #ebd59e;
}